{% extends 'layout/base.html' %}
{% block title %}{{ team.name }}{% endblock %}
{% block content %}
    <h2>{{ team.name }} 的所有项目</h2>
    <div class="row">
        <div class="span12"><a href="{{ url_for('project_create', team_id=team.id) }}" class="btn btn-primary">创建新项目</a></div>
    </div>
    <div class="row">
        {% for project in team.projects %}
            <div class="span6">
                <a href="{{ url_for("project_index", project_id = project.id) }}">
                    <h2>{{ project.name }} <i class="icon-arrow-right"></i></h2>
                    <p>{{ project.subject }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}