{%- macro project_sidebar(project) -%}
    <ul class="nav nav-list affix-top">
        <li class="nav-header">菜单</li>
        <li><a href="{{ url_for("project_index", project_id = project.id) }}">{{ project.name }}</a></li>
        <li><a href="{{ url_for("project_feed", project_id=project.id) }}">回顾</a></li>
        <li><a href="{{ url_for("topic_list", project_id=project.id) }}">讨论</a></li>
        <li><a href="{{ url_for("project_todos", project_id=project.id) }}">任务</a></li>
        <li><a href="{{ url_for("project_files", project_id=project.id) }}">文件</a></li>
        <li><a href="{{ url_for("project_setting", project_id=project.id) }}">项目设置</a></li>
    </ul>
{%- endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    <div class='pagination'>
        <ul>
        {%- for page in pagination.iter_pages() %}
            {%- if page %}
                {% if page != pagination.page %}
                    <li><a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
                {% endif %}
            {%- else %}
                <li class='disabled'><a href='javascript:;'>…</a></li>
            {%- endif %}
        {%- endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro render_feed(feed) %}
{%- if feed.operation == 'create'  %}
{{ feed.actor.name }} 创建了 <a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a>
{%- elif feed.operation == 'done' %}
{{ feed.actor.name }} 将 <a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a> 标记为完成
{%- elif feed.operation == 'reopen' %}
{{ feed.actor.name }} 重新打开了 <a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a>
{%- elif feed.operation == 'delete' %}
    {{ feed.actor.name }} 删除了 <span class="label">{{ feed.todo.subject }}</span>
{%- elif feed.operation == 'due_date' %}
{{ feed.actor.name }} 将 <a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a> 的完成时间由 <span class="label">{{ feed.old_value }}</span> 改为了 <span class="label">{{ feed.new_value }}</span>
{%- elif feed.operation == 'assign' %}
    {%- if feed.new_user_id  %}
{{ feed.actor.name }} 将 <a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a>
        {%- if feed.old_user_id  %}
            由 <span class="label">{{ feed.old_user.name }}</span>
        {%- endif %}
        指派给 <span class="label">{{ feed.new_user.name }}</span>
    {%- else %}
{{ feed.actor.name }} 将 <a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a>
        {%- if feed.old_user_id  %}
            由 <span class="label">{{ feed.old_user.name }}</span>
        {%- endif %}
        设为暂时不指派给任何人。
    {%- endif %}
{%- else  %}
<a href="{{ url_for('todo_show', todo_id=feed.todo_id) }}">{{ feed.todo.subject }}</a>
{%- endif  %}
{% endmacro %}

{% macro render_file(file) %}
    <div class="file">
        <div class="file-thumb">
            <a href="{{ url_for('uploaded_file', filename=file.path) }}" title="{{ file.filename }}" target="_blank">
                <img class="image" alt="{{ file.filename }}" src="{{ url_for('uploaded_file', filename=file.path, size=60) }}">
            </a>
        </div>
        <div class="file-info">
            <div class="title">
                <a class="name" target="_blank" href="{{ url_for('uploaded_file', filename=file.path) }}">{% if file.filename %}{{ file.filename }}{% else %}{{ file.path }}{% endif %}</a>
                <span class="size">{{ file.size|file_size }}</span>
            </div>
        </div>
    </div>
{% endmacro %}