{% extends 'layout/base.html' %}
{% from '_helpers.html' import render_pagination, render_feed %}
{% block title %}{{ project.name }} 回顾{% endblock %}
{% block content %}
    <div class="row">
        <div class="span18" id="page-completed-todos">
            <ul class="breadcrumb">
                <li>项目：<a href="{{ url_for("project_index", project_id=project.id) }}">{{ project.name }}</a><span class="divider">/</span></li>
                <li>回顾</li>
                <li class="pull-right"><div class="btn-group"><a href="{{ url_for("project_feed", project_id=project.id) }}" class="btn btn-mini{% if not query%} active{% endif %}">全部</a><a href="{{ url_for("project_feed", project_id=project.id, query='done') }}" class="btn btn-mini{% if query=='done' %} active{% endif %}">只看完成</a></div></li>
            </ul>
            {%- if feeds.items %}
                <div>
                    {%- for feed in feeds.items %}
                        {%- if last_feed %}
                            {%- set last_date = last_feed.created_at|datetime('%Y%m%d') %}
                            {%- set now_date = feed.created_at|datetime('%Y%m%d') %}
                            {%- if now_date != last_date %}
                                {%- set is_new_date = True  %}
                            {%- else %}
                                {%- set is_new_date = False  %}
                            {%- endif %}
                        {%- else %}
                            {%- set is_new_date = True  %}
                            {%- set is_first_date = True  %}
                        {%- endif %}
                        {%- if is_new_date %}
                            {%- if not is_first_date %}
                                </div>
                                </div><!--/day-->
                            {%- endif %}
                            {%- set is_first_date = False %}
                            <div class="day row">
                            <div class="hd span2">
                                <div class="m-d">
                                    {{ feed.created_at|datetime('%m/%d') }}
                                </div>
                                <div class="w">{{ feed.created_at|weekday }}</div>
                            </div>
                            <div class="bd span16">
                        {%- endif %}
                        <div class="todo">
                            <i class="icon-check"></i>&nbsp;
                            {{ render_feed(feed) }}
                        </div>
                        {%- set last_feed = feed %}
                    {%- endfor %}
                    </div>
                    </div><!--/day-->
                <div class="more">
                    {{ render_pagination(feeds, 'project_feed', project_id=project.id, query=query) }}
                </div>
                </div>
            {%- else %}
                <div class="well-small">还没有任何动态</div>
            {%- endif %}
    </div>
    <div class="span6">
        {% from '_helpers.html' import project_sidebar %}
        {{ project_sidebar(project) }}
    </div>
    </div>
{% endblock %}