{% extends 'layout/base.html' %}
{% block title %}{{ project.name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="span18">
            <form action="{{ url_for('todolist_create', project_id=project.id) }}" method='post'>
                <fieldset>
                    <legend>添加任务列表</legend>
                    {{ form.csrf_token }}
                    <div class="controls-row">
                        {{ form.name(class='span10',maxlength=140,tabindex=1,placeholder='列表名称') }}
                        {%- if form.name.errors %}
                            <span class="help-inline">
            {%- for error in form.name.errors %}
                <span class="text-error">{{ error }}</span>
            {%- endfor %}
                </span>
                        {%- endif %}
                    </div>
                    <input type="submit" value="保存" class="btn btn-primary" tabindex="4">
                </fieldset>
            </form>
        </div>
        <div class="span6">
            {% from '_helpers.html' import project_sidebar %}
            {{ project_sidebar(project) }}
        </div>
    </div>
{% endblock %}