{% extends 'layout/base.html' %}
{% block title %}{{ project.name }}{% endblock %}
{% block head_js %}
<script src="{{ url_for("static",filename='js/mustache.js') }}"></script>
<script src="{{ url_for("static",filename='js/swfupload/swfupload.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span18" id="page-message">
            <ul class="breadcrumb">
                <li>项目：<a href="{{ url_for("project_index", project_id=project.id) }}">{{ project.name }}</a></li>
            </ul>
            <div class="topic clearfix">
                <div class="message">
                    <div class="message-subject"><h2 title="{{ topic.subject }}">{{ topic.subject }}</h2></div>
                    <a class="avatar-wrap"><img class="avatar" src="{{ url_for('uploaded_avatar', filename=topic.user.avatar) }}" width="50" height="50"></a>
                    <div class="message-main">
                        <div class="info">
                            <a class="author" href="{{ url_for('user.show', user_id=topic.user_id) }}" >{{ topic.user.name }}</a>
                            <span class="create-time" title="{{ topic.created_at|datetime }}">{{ topic.created_at|friendly_datetime }}</span>
                        </div>
                        {{ topic.content|gfm|safe }}
                    </div>
                </div>
                {% if topic.all_attachments %}
                <div class="object-attachments">
                    <div class="label">所有附件</div>
                    <div class="items">
                        {% for atta in topic.all_attachments %}
                            <a href="{{ url_for('uploaded_file', filename=atta.path) }}" target="_blank"><img src="{{ url_for('uploaded_file', filename=atta.path, size=120) }}"/></a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% from 'project/_topic_helpers.html' import comment_list,comment_form %}
            {{ comment_list(pagination) }}
            {% from '_helpers.html' import render_pagination %}
            <div class="more">
                {{ render_pagination(pagination, 'topic_detail', topic_id=topic.id)  }}
            </div>
            {{ comment_form(url_for('topic_detail', topic_id=topic.id), form) }}
        </div>
        <div class="span6">
            {% from '_helpers.html' import project_sidebar %}
            {{ project_sidebar(project) }}
        </div>
    </div>
{% endblock %}
{% block page_js %}
{% raw %}
<script id="attachment-template" type="template">
    <div id="attachment-{{ id }}" class="fl attachment-item">
        <img src='{{ url }}?size=50' /><br/>
        <input type="hidden" value="{{ id }}" name="attachment">
        <a href="javascript:;" class="delete">删除</a>
    </div>
</script>
{% endraw %}
<script>
    function fileQueue(){

    }

    function uploadStart(file) {
        try {
            /* I don't want to do any file validation or anything,  I'll just update the UI and
             return true to indicate that the upload should start.
             It's important to update the UI here because in Linux no uploadProgress events are called. The best
             we can do is say we are uploading.
             */
            $('#uploadProgressBar').show().find('.bar').css('width', 0);
        }
        catch (ex) {}

        return true;
    }

    function uploadProgress(file, bytesLoaded, bytesTotal) {
        try {
            var percent = Math.ceil((bytesLoaded / bytesTotal) * 100);
            $('#uploadProgressBar .bar').css('width', percent+'%');
        } catch (ex) {
            this.debug(ex);
        }
    }

    function uploadSuccess(file, serverData) {
        try {
            $('#uploadProgressBar').hide();
            if(serverData){
                var json = eval('(' + $.trim(serverData) + ')');
                var html = Mustache.render($('#attachment-template').html(), json);
                $('#attachments-preview').append(html);
            }
        } catch (ex) {
            this.debug(ex);
        }
    }

    function fileDialogComplete(numFilesSelected, numFilesQueued) {
        try {
            /* I want auto start the upload and I can do that here */
            this.startUpload();
        } catch (ex)  {
            this.debug(ex);
        }
    }

    var swfu;

    window.onload = function () {
        swfu = new SWFUpload({
            file_post_name: "file",
            file_upload_limit : 100,
            file_queue_limit : 0,
            upload_url : "{{ url_for('api.upload_file') }}",
            flash_url : "{{ url_for("static",filename='js/swfupload/swfupload.swf') }}",
            file_size_limit : "20 MB",
            button_width: "65",
            button_height: "29",
            button_placeholder_id: "uploadBtnWrap",
            button_text:'上传附件',
            file_queued_handler:fileQueue,
            file_dialog_complete_handler : fileDialogComplete,
            upload_start_handler : uploadStart,
            upload_progress_handler : uploadProgress,
            upload_success_handler : uploadSuccess
        });
    };

    $('#attachments-preview').on('click', '.attachment-item a.delete', function(){
        var $wrapper = $(this).parent();
        var attach_id = $('input', $wrapper).val();
        var self = this;
        $.ajax({
            url:'{{ url_for('api.delete_file') }}',
            type:'post',
            data:{id:attach_id},
            success:function(){
                $(self).parent().remove();
            }
        });
    });
</script>
{% endblock %}